<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156446742512-v0ji6ren3be7a8gb7u641jojug2nq95k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156446742512-v0ji6ren3be7a8gb7u641jojug2nq95k</string>
	<key>API_KEY</key>
	<string>AIzaSyC5IMPM3-5FaOIuJT__Y-ImZmNxDBcTgc8</string>
	<key>GCM_SENDER_ID</key>
	<string>156446742512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motivation.dose</string>
	<key>PROJECT_ID</key>
	<string>motivation-dose-9bd92</string>
	<key>STORAGE_BUCKET</key>
	<string>motivation-dose-9bd92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156446742512:ios:dc6e3f5567a9655ff8af35</string>
</dict>
</plist>